/* Webkit (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #34d399;
  }

  /* Firefox
  scrollbar-width: thin;
  scrollbar-color: #34d399 #f1f1f1;
   */
  
  .nav-links{
    top:11vh;
    left: 0;
  }

  

  .card{
    width:350px;
  }