/* Webkit (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399;
}

/* Firefox
  scrollbar-width: thin;
  scrollbar-color: #34d399 #f1f1f1;
   */

.header {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
}

.nav-links {
  top: 11vh;
  left: -1000%;
  transition: left 0.5s;
}

.show {
  left: 0 !important;
}

.card {
  width: 350px;
}

@media only screen and (min-width: 870px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row-reverse;
    width: 25% !important;
    position: inherit !important;
    background: inherit !important;
  }
  .close-btn {
    display: none !important;
  }
  .link-container {
    flex-direction: row !important;
  }
  .link {
    background-color: #34d399 !important;
    color: #ffff !important;
    padding: 0.5rem !important;
  }
}
